<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Font Converter</title>
</head>
<body>
    <div id="Main">
        <div id="Picbox"></div>
        <div id="Textbox">
            <h1>Unicode ↔ Krutidev <br>File Font Converter</h1>
            <div id="h2">Convert Devanagri fonts in MS WORD files with a simple click. 
                NO COPY PASTING at all!
            </div>
            <ul class="steps"><li>Upload your MS-Word document by clicking "Choose file"</li>
                <li>Select the conversion type</li>
                <li>Click "Convert"</li>
            </ul>
            <div id="forM">
                <form id="uploadForm" enctype="multipart/form-data" action="/upload" method="POST">
                    <label for="fileInput">Upload DOCX/DOC file: <br></label>
                    <input type="file" id="fileInput" name="file" accept=".docx,.doc" required><br><br>
        
                    <label for="conversionType">Select Conversion Type:</label>
                    <br><br> 
                    <select id="conversionType" name="conversionType" required>
                    <option value="unicode_to_krutidev">Unicode to Krutidev</option>
                    <option value="krutidev_to_unicode">Krutidev to Unicode</option>
                    </select><br><br>
        
                    <div id="button">
                        <button id="submit">Convert</button>
                    </div>         
            </div>
            
    </form>

    <div id="downloadLink"></div>
        </div>
    </div>
    
</body>
</html>
